* {
    padding: 0;
    margin: 0;
}

:root {
    --gap-1: 20px;
}

html {
    font-size: 14px;
    font-family: serif;
}

/* typography */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

.display-text {
    font-size: 3.4em;
}

body {
    font-size: 0.8em;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

/* background color */
.bg--light-blue {
    background-color: rgb(193, 229, 255);
}

.overlay {
    display: none;
}

/* height */
.height-24em {
    height: 24em;
}

/* alignment */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* position */
.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

/* layout */
.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-auto {
    flex: auto;
}

/* spacing */
.padding-x-1 {
    padding-left: 1em;
    padding-right: 1em;
}

.padding-y-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.margin-y-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.gap-1 {
    gap: var(--gap-1);
}

/* components */
nav a {
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    font-weight: 500;
}

/* content */
.container {
    max-width: calc(1200px - 2em);
    display: grid;
    grid-template-rows: auto;
}

.promotion.item figure {
    overflow: hidden;
    position: relative;
}

.promotion.item figure {
    width: 80px;
    height: 50px;
}

.promotion.item figure img {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.promotion {
    gap: 0.8em;
}

.cards.item {
    position: relative;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cards.item figure {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.cards.item figure img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cards .star {
    z-index: 1;
    right: 0.4em;
    top: 0.4em;
    font-size: 1.8em;
}

.cards .bottom {
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.welcome {
    height: 250px;
}

.close-nav {
    display: none;
}

nav * {
    padding-left: 0.8em;
    padding-right: 0.8em;
}

/* animation */
.slideFromRight {
    animation-duration: .8s;
    animation-name: slideFromRight;
}

.slideToRight {
    animation-duration: .8s;
    animation-name: slideToRight;
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        right: -40px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes slideToRight {
    0% {
        opacity: 1;
        right: 0;
    }

    100% {
        opacity: 0;
        right: -120px;
    }
}

.mobile-menu-close {
    display: none;
}

.cell-p1 {
    grid-area: p1;
}

.cell-p2 {
    grid-area: p2;
}

.cell-p3 {
    grid-area: p3;
}

.cell-t1 {
    grid-area: t1;
}

.cell-t2 {
    grid-area: t2;
}

.cell-t3 {
    grid-area: t3;
}

.cell-t4 {
    grid-area: t4;
}

.cell-t5 {
    grid-area: t5;
}

.cell-t6 {
    grid-area: t6;
}

.cell-t7 {
    grid-area: t7;
}

.cell-t8 {
    grid-area: t8;
}

.cell-t9 {
    grid-area: t9;
}

.cell-t10 {
    grid-area: t10;
}

.mobile-menu-button {
    display: none;
}

@media (min-width:1200px) {
    .container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "p1 p1 p1 p1 p1 p1"
            "p2 p2 p2 p2 p3 p3"
            "t1 t1 t2 t3 t4 t5"
            "t6 t6 t7 t8 t9 t10"
    }

}

@media screen and (min-width:600px) and (max-width:1200px) {
    .container {
        max-width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "p1 p1 p2 p2"
            "p3 p3 p3 p3"
            "t1 t2 t3 t4"
            "t5 t6 t7 t8"
            "t9 t9 t10 t10"
    }

    nav * {
        padding-left: .28em;
        padding-right: .28em;
    }
}

@media (max-width:600px) {
    .container {
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }

    .mobile-menu-button,
    .mobile-menu-close {
        display: block;
    }

    .mobile-menu-button {
        font-size: 2em;
    }

    nav {
        display: none;
        padding: 2em 1em;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.4);
    }

    nav a {
        padding: 1em 0;
        text-align: center;
    }

    nav.d-block {
        position: absolute;
        z-index: 2;
        background-color: #fff;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        box-shadow: -0.2em 0 0.1em rgba(0, 0, 0, 0.4);
        width: 50%;
        padding: 2em 1em;
    }

    .mobile-menu-close {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 1em;
        top: 0;
        width: 2em;
        padding: 1em;
        font-size: 1.4em;
    }

    .display-text {
        font-size: 2.2em;
    }
}