* {
    padding: 0;
    margin: 0;
}

:root {
    --gap-1: 20px;
}

html {
    font-size: 16px;
    font-family: serif;
}

/* typography */
h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

body {
    font-size: 1em;
}

/* background color */
.bg--light-blue {
    background-color: rgb(193, 229, 255);
}

/* height */
.height-24em {
    height: 24em;
}

/* alignment */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* position */
.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

/* layout */
.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-auto {
    flex: auto;
}

/* spacing */
.padding-x-1 {
    padding-left: 1em;
    padding-right: 1em;
}

.padding-y-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.margin-y-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.gap-1 {
    gap: var(--gap-1);
}

/* components */
nav a {
    color: #000000;
    text-decoration: none;
}

/* content */
.promotion .item figure {
    overflow: hidden;
    position: relative;
}

.promotion .item figure {
    width: 80px;
    height: 50px;
}

.promotion .item figure img {
    width: 100px;
}

.promotion {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    margin-bottom: 1em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}

.cards .item {
    position: relative;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cards .item figure {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.cards .item figure img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cards .star {
    z-index: 1;
    right: 1em;
    top: 1em;
}

.cards .bottom {
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.welcome {
    height: 250px;
}

.close-nav {
    display: none;
}

nav * {
    padding-left: 0.8em;
    padding-right: 0.8em;
}

/* animation */
.slideFromRight {
    animation-duration: .8s;
    animation-name: slideFromRight;
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        right: -40px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .mobile-menu-button {
        display: none;
    }

    .promotion .item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 8;
    }

    .promotion .item:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .promotion .item:nth-child(3) {
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .cards .item:nth-child(1) {
        grid-area: 1/1/2/3;

    }

    .cards .item:nth-child(6) {
        grid-area: 2/1/4/3;
    }
}

@media (min-width:600px) {}

@media (max-width: 599px) {

    .mobile-menu-button,
    .close-nav {
        display: block;
    }

    .mobile-menu-button {
        font-size: 2em;
    }

    nav {
        display: none;
    }

    nav.d-block {
        position: absolute;
        z-index: 2;
        background-color: #fff;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        box-shadow: -0.2em 0 0.1em rgba(0, 0, 0, 0.4);
        width: 50%;
    }

    .promotion {
        grid-template-columns: 1fr;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}