* {
    padding: 0;
    margin: 0;
}

:root {
    --light-blue: rgb(193, 229, 255);
}

html {
    font-size: 16px;
    font-family: serif;
}

/* typography */
h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

body {
    font-size: 1em;
}

/* background color */
.bg--light-blue {
    background-color: var(--light-blue);
}

/* height */
.height-24em {
    height: 24em;
}

/* alignment */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* position */
.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

/* layout */
.d-flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-auto {
    flex: auto;
}

/* spacing */
.padding-x-1 {
    padding-left: 1em;
    padding-right: 1em;
}

.padding-y-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.margin-y-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.gap-1 {
    gap: 20px;
}

/* content */
.promotion .item figure,
.cards .item figure {
    overflow: hidden;
    position: relative;
}

.promotion .item figure {
    width: 80px;
    height: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.cards .item {
    position: relative;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cards .item figure {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.promotion {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 1em;
}

.promotion .item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 8;
}

.promotion .item:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.promotion .item:nth-child(3) {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}



.cards .item figure img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cards .star {
    z-index: 1;
    right: 1em;
    top: 1em;
}

.cards .bottom {
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .welcome {
        height: 250px;
    }
}